* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

input {
    display: block;
    margin: 30px auto;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-box {
    min-width: 240px;
    text-align: center;
    padding: 20px 10px;
    margin: 5px;
    border: 2px solid black;
}